<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Spotify Data Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
  <h1><b>Spotify Data Analysis</b></h1>

  <h2><i>Data Preview</i></h2>
  <div>{{ data_table | safe }}</div>

  <h2><i>Summary Statistics</i></h2>
  <div>{{ stats_table | safe }}</div>

  <h2><i>Data Info</i></h2>
  <pre class="info-output">{{ info_output }}</pre>

  <h2><i>Streams Distribution</i></h2>
  <img src="{{ url_for('static', filename='streams_histogram.png') }}" alt="Streams Histogram" />
</body>
</html>

